html {
  font-family: Helvetica;
}
body {
  margin: 0;
}
 /*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}
.logo {
  margin-left: 24px;
  height: 32px;
}

.colmar {
  color: darkgrey;
  font-weight: bold;
}
.academy {
  color: lightgrey;
  font-weight: bold;
}
.navigation {
  margin-right: 24px;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation ul li a {
  padding: 16px;
  color: black;
  text-decoration: none;
}

/*box1*/

.container1 {
  display: flex;
  background-color: lightgrey;
  width: 100%;
}

.column1 img {
  width: 60vw;
  padding: 32px 24px;
}
.container1 .column2 {
  display: flex;
  flex-direction: column;
  color: grey;
  justify-content: center;
}
.container1 .button {
  background-color: grey;
  padding: 8px;
  margin-right: 36px;
  text-align: center;
}
.container1 .button h2 {
  color: white;
  text-decoration: none;
}

/*box2*/

.container2 {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.column3 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.column3content {
  margin-left: 24px;
}
.box2image1 img {
  width: 60vw;
  padding: 32px 24px;
}
.info {
  display: flex;
  border-bottom-style: double;
  border-color: lightgrey;
}
.info img{
  width: 35%;
  height: 28%;
  padding: 16px;
}
.infocontent {
  display: flex;
  flex-direction: column;

}
.column4 {
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  border-color: lightgrey;
  width: 35%;
  margin-left: 5%;
}
.background {
  background-color: lightgrey;
}

/*Box3*/

.container3 {
  background-color: lightgrey;
}
.container3 h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
}
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 72px;
}
.program {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 32px;
  background-color: white;
}
.program img {
  height: 25%;
}
.program h3 {
  padding-left: 16px;
}
.program span {
  padding: 8px 16px;
}

/*Box4*/
.container4 h1 {
  text-align: center;
  padding: 32px;
}
.flex4 {
  display: flex;
}

.column5 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.column5 video {
  padding 24px;
}
