html {
  font-family: Helvetica;
}
body {
  margin: 0;
}
                        /*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

.logo img {
  margin-left: 24px;
  height: 48px;
}

.colmar {
  color: dimgrey;
  font-weight: bold;
  font-size: 24px;
  font-family: Verdana;
}
.academy {
  color: lightgrey;
  font-size: 24px;
  font-family: Verdana;
}
.navigation {
  margin-right: 24px;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation ul li a {
  padding: 16px;
  color: #484848;
  text-decoration: none;
}
.navigationmobile {
  display: none;
}

/*box1*/

.container1 {
  display: flex;
  background-color: lightgrey;
  width: 100%;
}

.column1 img {
  width: 60vw;
  padding: 32px 24px;
}
.container1 .column2 {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  color: #484848;
  justify-content: center;
}
.column2 h1 {
  font-size: 48px;
  color: #484848;
}
.container1 .button {
  background-color: #484848;
  padding: 8px;
  margin-right: 36px;
  text-align: center;
}
.container1 .button h2 {
  color: white;
  text-decoration: none;
}

/*box2*/

.container2 {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.column3 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.column3content {
  margin-left: 24px;
  color: #484848;
}
.column3content h2 {
  font-size: 36px;
  font-weight: bold;
}
.box2image1 img {
  width: 60vw;
  padding: 32px 24px;
}
.info {
  display: flex;
  border-bottom-style: double;
  border-color: lightgrey;
}
.info img{
  width: 35%;
  height: 28%;
  padding: 16px;
}
.mobileimg {
  display: none;
}
.infocontent {
  display: flex;
  flex-direction: column;
  color: #484848;
}

.infocontent a {
  color: blue;
  text-decoration: none;
}
.column4 {
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  border-color: lightgrey;
  width: 35%;
  margin-left: 5%;
}
.background {
  background-color: lightgrey;
}

/*Box3*/

.container3 {
  background-color: lightgrey;
}
.container3 h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
  color: #484848;
}
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 72px;
}
.program {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 32px;
  background-color: white;
}
.program img {
  height: 25%;
}
.program h3 {
  padding-left: 16px;
  color: #484848;
}
.program span {
  padding: 8px 16px;
  color: #484848;
}

/*Box4*/
.container4 h1 {
  text-align: center;
  padding: 32px;
  color: #484848;
}
.flex4 {
  display: flex;
}

.column5 {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 24px;
  color: #484848;
}
.column5 video {
  padding-right: 24px;
  padding-bottom: 24px;
  width: 95%;
}
.box4 {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column6 {
  width: 40%;
  color: #484848;
}
.column6 img {
  width: 35%;
  height: 30%;
  padding: 16px;
}
.column6 .words {
  width: 65%;
}
.footer {
  display: flex;
  justify-content: space-between;
  border-top-style: solid;
  width: 100%;
  border-top-color: lightgrey;
  color: #484848;
}
.copyright {
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 32px;
}
.terms {
  margin-top: 16px;
  margin-right: 24px;
}
.terms span {
  padding: 5px;
  text-align: right;
  color: black;
}
.terms a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  header {
    display: flex;
    justify-content: flex-start;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo {
    display: none;
  }
  .colmar {
    display: none;
  }
  .academy {
    display: none;
  }
  .navigation ul {
    display: none;
  }
  .navigationmobile {
    display: contents;
  }
  .navigationmobile ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .navigationmobile ul li {
    padding-right: 60px;
  }
  /*box1*/

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .column1 img {
    width: 100%;
    padding: 0;
  }

  .container1 .button {
    margin: 24px;
  }
  /*box2*/

  .column4 {
    display: flex;
    flex-direction: column;
    border-left-style: none;
    width: 100%;
  }

  .column3 {
    width: 0;
    display: none;
  }

  .info {
    display: flex;
    flex-direction: column;
    border-bottom-style: none;
  }
  .info img{
    display: none;
  }
  .info .mobileimg {
    display: flex;
    height: auto;
    width: 100%;
  }
  .infocontent {
    margin-left: 32px;
  }

  .background {
    background-color: white;
  }
  /*Box3*/

  .container3 {
    background-color: white;
  }

  .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
  }
  .program {
    margin: 8px;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
  }
  .program img {
    display:none;
  }
  .program h3 {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .program span {
    display: none;
  }
  /*Box4*/
  .container4 h1 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .container4 h2 {
    display: none;
  }
  .container4 p {
    display: none;
  }
  .column5 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .column5 video {
    padding-bottom: 24px;
    width: 100%;
  }

  .box4 {
    display: none;
  }
  .box5 {
    display: none;
  }
  .column6 {
    display: none;
  }

  .copyright {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 16px;
  }
  .terms {
    display: none;
  }
}
